<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.navigator.taxigap"
		version="0.0.1">
	<name>TaxiGap</name>
		<gap:platform name="android" />
		<gap:splash src="splash/splash.png" />
		<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
		<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
		<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
		<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>