html,
body {
  height: 100%;
}

input[type="submit"] {
margin:3px;
}

table {
border-collapse: inherit;
border-spacing: 1px;
}

table.tablesorter, table.tablesorter thead tr th, table.tablesorter tfoot tr th{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:11pt;
}

ul.toc {
margin: 0;
padding: 5px;
}

ul.toc li {
display: inline-block;
/*margin-right: 5px;*/
border: 1px solid #000; 
border-radius: 5px;
padding: 3px; 
width:130px;
float: none;
}

#footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  left: 0px;
  background-color: #f5f5f5;
  width:100%; 
  border-top:1px solid;
  border-color: #e7e7e7;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.page-header {
margin:80px 0 20px;
}

.lead {
margin-bottom: 10%;
font-size: 16px;
}

.cont {
display: inline-block;
margin-left: 5px;
width:130px;
pading:3px;
}

.pager {
float:left;
margin-top: 0px;
}