html,
body {
  height: 100%;
}

/* Set the fixed height of the footer here */
#footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  background-color: #f5f5f5;
  width:100%; 
  border-top:1px solid;
  border-color: #e7e7e7;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.page-header {
margin:80px 0 20px;
}

.lead {
margin-bottom: 60px;
font-size: 16px;
}

ul.toc {
margin: 0;
padding: 5px;
}

ul.toc li {
display: inline;
margin-right: 5px; 
border: 1px solid #000; 
padding: 3px; 
}

.cont {
display: inline;
margin: 10px;
}