.containing-element .ui-slider-switch { 
width: 12em;
}

#accordion_guide  .ui-btn-inner {
display:block;
text-align:center;
}

.map_canvas {
position:absolute;
top:200px;
bottom:0;
left:0;
width:100%;
height:60%;
}
.overlay {display:none; position:fixed; z-index:999; opacity:0.5; filter:alpha(opacity=50); top:0; right:0; left:0; bottom:0; background:#000; }
.popup {display:none; position:fixed; border:3px solid #999; background:#fff; width:250px; height:200px; top:50%; left:50%; margin-top: -100px; margin-left: -150px; z-index:1000;  border-radius:10px; padding:30px;}
.close {display:block; width:24px; text-align:center; cursor:pointer;  height:24px; line-height:24px; background:#fff; color:#3399FF; border:3px solid #3399FF;  position:absolute; top:10px; right:10px; text-decoration:none; border-radius:3px; font-size:20px; }

.open_popup {text-decoration:underline;
 color:#00aeef; 
 cursor:pointer;
 }
.open_popup:hover {
text-decoration:none; 
}

.save-route {
position:fixed;
margin:0 25% 0 25%;
bottom:0px;
text-align:center;
width:50%;
}